---
- name: Symlink dotfiles to home directory
  file:
    src: "{{ item.source }}"
    dest: "{{ item.dest }}"
    state: link
  become: no
  with_items:
    - { source: "{{ role_path }}/files/vim/vimrc", dest: "~/.vimrc" }
    - { source: "{{ role_path }}/files/vim/vimrc.bundles", dest: "~/.vimrc.bundles" }

    - { source: "{{ role_path }}/files/git/gitconfig", dest: "~/.gitconfig" }
    - { source: "{{ role_path }}/files/git/gitignore", dest: "~/.gitignore" }
    - { source: "{{ role_path }}/files/git/gitmessage", dest: "~/.gitmessage" }

    - { source: "{{ role_path }}/files/zsh/aliases", dest: "~/.aliases" }
    - { source: "{{ role_path }}/files/zsh/zshrc", dest: "~/.zshrc" }

    - { source: "{{ role_path }}/files/tmux/tmux.conf", dest: "~/.tmux.conf" }
    - { source: "{{ role_path }}/files/tmux/tmuxline.snapshot", dest: "~/.tmuxline.snapshot" }

- name: Ensure Vundle is installed
  git:
    repo: https://github.com/gmarik/Vundle.vim.git
    dest: ~/.vim/bundle/Vundle.vim
    force: yes

- debug:
    msg: "Install vim plugins with vim +PluginInstall +qall"

- name: Get zsh path
  shell: which zsh
  register: zsh_path

- name: List zsh in /etc/shells
  lineinfile:
    dest: '/etc/shells'
    line: "{{ zsh_path.stdout_lines[0] }}"
    insertafter: EOF
    state: present
  become: yes

- name: Set zsh as default shell
  shell: chsh -s $(which zsh)

- name: Get base16 shell colors
  git:
    repo: https://github.com/chriskempson/base16-shell.git
    dest: ~/.config/base16-shell
    force: yes

- debug:
    msg: Enable base16 colors by executing base_16[TAB] and selecting desired theme

- debug:
    msg: Remember to install iterm font compatible with powerline (iterm_font file)

