---
- name: Copy dotfiles to home directory
  copy:
    src: "{{ item.source }}"
    dest: "{{ item.dest }}"
  become: no
  with_items:
    - { source: "vim/vimrc", dest: "~/.vimrc" }
    - { source: "vim/vimrc.bundles", dest: "~/.vimrc.bundles" }

    - { source: "git/gitconfig", dest: "~/.gitconfig" }
    - { source: "git/gitignore", dest: "~/.gitignore" }
    - { source: "git/gitmessage", dest: "~/.gitmessage" }

    - { source: "zsh/aliases", dest: "~/.aliases" }
    - { source: "zsh/zshrc", dest: "~/.zshrc" }

    - { source: "tmux/tmux.conf", dest: "~/.tmux.conf" }

- name: Ensure Vundle is installed
  git:
    repo: https://github.com/gmarik/Vundle.vim.git
    dest: ~/.vim/bundle/Vundle.vim
    force: yes

- debug:
    msg: "Install vim plugins with vim +PluginInstall +qall"

- name: Get zsh path
  shell: which zsh
  register: zsh_path

- name: List zsh in /etc/shells
  lineinfile:
    dest: '/etc/shells'
    line: "{{ zsh_path.stdout_lines[0] }}"
    insertafter: EOF
    state: present
  become: yes

- name: Set zsh as default shell
  shell: chsh -s $(which zsh)

- name: Get base16 shell colors
  git:
    repo: https://github.com/chriskempson/base16-shell.git
    dest: ~/.config/base16-shell
    force: yes

- debug:
  msg: Enable base16 colors by executing base_16[TAB] and selecting desired theme

